.header-container {
    display: flex;
    align-items: center;
  }
  
  .menu {
    align-items: center;
    flex: 1;
    min-width: 0;
    font-family: "Rubik";
    font-weight: 100;
  }

  .logo {
    width: 100px;
    height: auto;
    margin-right: 15px;

  }