.title-card {
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f900;
    border-color: #f9f9f900;
  }

  .title-text{
    font-size: 36px;
    font-weight: bold;
    color: #274582;
  }

