/* ActivityList.css */
.activity-card {
    width: 31%;
    border-radius: 12px;
    border: 3px solid #274582;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .activity-card__title {
    text-align: center;
    font-size: 16px;
    color: #274582;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .activity-item {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: rgba(92, 164, 169, 0.1);
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .activity-tag {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    width: 60px; /* Set fixed width */
    height: 60px; /* Set fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  
  .activity-tag[color="green"] {
    background-color: #a8e6a1;
    color: #fff;
  }
  
  .activity-tag[color="red"] {
    background-color: #ff6b6b;
    color: #fff;
  }

  .activity-tag[color="yellow"] {
    background-color: #ff6b6b;
    color: #fff;
  }
  